.github-logo{
  fill:white;
}
.menu-items .ant-menu-horizontal{
  font-size:16px;
  width:650px;
  
}
.menu-items .ant-menu-horizontal .ant-menu-item{
  padding-inline: 10px;
  color:white
}
.menu-items .ant-menu-vertical .ant-menu-item{
  color:black;
}
.menu-items .ant-menu-horizontal >.ant-menu-item-selected,
.menu-items .ant-menu >.ant-menu-item-selected,

.menu-items .ant-menu-dark.ant-menu-horizontal >.ant-menu-item-selected:hover{
  background-color: transparent;
}
.ant-btn-primary,.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover{
  background: white;
  color:black;
}
.ant-btn-text,.ant-btn-text:not(:disabled):not(.ant-btn-disabled):hover{
  color:white
}
.ant-collapse{
  margin-bottom: 15px;
}